.kpage-content {
    background: #fff;
    padding: 50px;
    padding-top: 15px;
    margin-top: 30px;
    border-radius: 10px;
    line-height: 25px;
    min-height: 500px;
}
.kpage-content h1 {
    text-align: center;
}
