.container {
   max-width: 700px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}

.header-logo {
   text-align: center;
   img {
      width: 30%;
   }
}

.header-slogan {
   font-weight: bold;
   font-size: 18px
}

.header-email span,
.header-site span {
   text-decoration: underline;
}

.header-email {
   &.padding-left {
      padding-left: 50px;
   }
}

.header-site span {
   padding-left: 10px;
}

.footer {
   text-align: center;
}