description = "Секция Copyright в дне"

[viewBag]
==
<section class="footerDown">
	<div class="c-p">
		<div class="c-r">

			<div class="col-42 col-s-100 as-c">
				<div class="company">
					<span>© 2012-{{ "now"|date("Y") }} Турагентство "Азимут-тур"</span>
				</div>
				<div class="footer-vk-widget mt-3">
					<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169" charset="utf-8"></script>
					<div id="vk_groups_tur"></div>
					<script type="text/javascript">
						VK.Widgets.Group("vk_groups_tur", {mode: 0, width: "220", height: "200"}, 69811336);
					</script>
				</div>
				<!--
				<div class="reestr">
					<a target="_parent" href="https://www.russiatourism.ru/operators/show.php?id=107271">Номер в реестре Ростуризма РТО 021653</a>
				</div>
				-->
			</div>
			<div class="col-58 col-s-100 as-c">
				<div class="copyright">
					{% component 'contenteditor' file="footer/copyright" %}
				</div>
			</div>

		</div>
	</div>
</section>