@import "@components/result-menu/left-menu";
.page-groups {
    padding: 10px;
    &__block {
        margin-bottom: 15px;
        &__title {
            font-weight: bold;
            color: #50575e;
            margin-bottom: 7px;
        }
        &__links {
            display: flex;
            flex-wrap: wrap;
            background: #f0f8ff;
            padding: 5px;
            border-radius: 5px;
            a {
                color: #2e3032;
                font-weight: normal;
                margin: 5px;
                text-decoration: underline;
                font-size: 14px;
            }
        }
    }
}
