<section class="popular-directions">
    <div class="custom-container">
        <h2>Популярные направления</h2>
        <div class="popular-lists">
            <div class="popular-listLeft">
                <a href="#" class="popular-item" style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                    <span>Круизы по волге</span>
                </a>
                <div class="popular-double">
                    <a href="#" class="popular-item " style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                        <span>Круизы по волге</span>
                    </a>
                    <a href="#" class="popular-item" style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                        <span>Круизы по волге</span>
                    </a>
                </div>
                <a href="#" class="popular-item" style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                    <span>Круизы по волге</span>
                </a>
            </div>
            <div class="popular-listRight">
                <a href="#" class="popular-item double-height" style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                    <span>Круизы по волге</span>
                </a>
                <a href="#" class="popular-item " style="background-image: url({{ 'assets/img/turist.png'|theme }})">
                    <span>Круизы по волге</span>
                </a>
            </div>
        </div>
        <div class="wrapper-btn">
            <a href="#" class="btn red">Больше направлений</a>
        </div>
    </div>
</section>