description = "Яндекс.Карта"

[viewBag]
==
<div id="map">
{#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.7026040893543!2d46.00870931593487!3d51.53701431635823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7b68be3d0c1%3A0x390032b7fa738144!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JrQsNC30LDRh9GM0Y8sIDEwMywg0KHQsNGA0LDRgtC-0LIsINCh0LDRgNCw0YLQvtCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCA0MTAwMTI!5e0!3m2!1sru!2sua!4v1533637780370" width="800" height="455" frameborder="0" style="border:0" allowfullscreen></iframe>#}

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A915b93a63609a712000aedf9e80a0ff3a649eb91445f1526c5ffeb53435c7fc6&amp;width=800&amp;height=455&amp;lang=ru_RU&amp;scroll=true"></script>




{#<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
  	ymaps.ready(init);
	var myMap, myPlacemark, latitude, longitude;
	latitude = 51.536941;
    longitude = 46.011472;

    function init(){  
        myMap = new ymaps.Map ("map", {
            center: [latitude, longitude],
            zoom: 15,
            controls: ['zoomControl']
        });

        myPlacemark = new ymaps.Placemark([latitude, longitude], 
        	{ hintContent: 'Азимут-Тур', balloonContent: 'Турагентство "Азимут-Тур"<br>410012, г.Саратов, ул.Большая Казачья 103<br>(8452) 255-996, 53-66-74' },
        	{ preset: 'islands#dotIcon', iconColor: '#3b5998'}
        );

        myMap.geoObjects.add(myPlacemark);
        myMap.behaviors.disable('scrollZoom');
    }
</script>#}