description = "Блок вывода отелей"

[viewBag]
==
<section class="tour-hotels">
   <div class="tour-hotels__items">

      {% for hotel in obItems %}
      <div class="tour-hotels__item mb-2">
         <div class="tour-hotel__item-top">
            <div class="tour-hotel__wrapper-item-top">
               <div class="tour-hotel__img">
                  <img src="{{ hotel.preview_image }}" alt="превью {{ hotel.name }}">
               </div>
               <div class="tour-hotel__short-content">
                  <div class="tour-hotel__short-top">
                     <div class="tour-hotel__short-name">{{ hotel.name }}</div>
                     <div class="tour-hotel__short-stars ms-2">{{ hotel.stars }}</div>
                  </div>
                  <div class="tour-hotel__short-bot">
                     <div class="tour-hotel__short-address">{{ hotel.address }}</div>
                  </div>
               </div>
            </div>
            <div class="tour-hotel__arrow">
               <i class="bi bi-chevron-down"></i>
            </div>
         </div>
         <div class="tour-hotel__item-bot">
            {% if hotel.pictures %}
            <div class="tour-hotel__gallery mb-3">
               {% partial 'sliders/slider-thumbs'
                  images = hotel.pictures
                  class='tour-hotel__gallery-custom'
                  isVerticalThumb=true
               %}
            </div>
            {% endif %}

            {% if hotel.info %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Описание</div>
               <div class="tour-hotel__content-text">{{ hotel.info|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.numbers_desc %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Описание номеров</div>
               <div class="tour-hotel__content-text">{{ hotel.numbers_desc|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.ci %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Информация о строительстве</div>
               <div class="tour-hotel__content-text">{{ hotel.ci|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.ta %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Транспортная доступность</div>
               <div class="tour-hotel__content-text">{{ hotel.ta|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.contacts %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Контакты</div>
               <div class="tour-hotel__content-text">{{ hotel.contacts|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.paid_services %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Платные услуги</div>
               <div class="tour-hotel__content-text">{{ hotel.paid_services|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.how_to_get %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Проезд</div>
               <div class="tour-hotel__content-text">{{ hotel.how_to_get|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.transfer %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Трансфер</div>
               <div class="tour-hotel__content-text">{{ hotel.transfer|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.therapy %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Показания для лечения</div>
               <div class="tour-hotel__content-text">{{ hotel.therapy|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.treatment %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Профиль лечения</div>
               <div class="tour-hotel__content-text">{{ hotel.treatment|raw }}</div>
            </div>
            {% endif %}

            {% if hotel.hstructures %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Инфраструктура гостиницы</div>
               <div class="tour-hotel__content-text">
                  <ul>
                     {% for item in hotel.hstructures %}
                     <li>{{ item }}</li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endif %}

            {% if hotel.hservices %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Услуги гостиницы</div>
               <div class="tour-hotel__content-text">
                  <ul>
                     {% for item in hotel.hservices %}
                     <li>{{ item }}</li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endif %}

            {% if hotel.hopts %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Характеристики гостиницы</div>
               <div class="tour-hotel__content-text">
                  <ul>
                     {% for item in hotel.hopts %}
                     <li>{{ item }}</li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endif %}

            {% if hotel.plages %}
            <div class="tour-hotel__content">
               <div class="tour-hotel__title">Пляжи</div>
               <div class="tour-hotel__content-text">
                  <ul>
                     {% for item in hotel.plages %}
                     <li>{{ item }}</li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endif %}

         </div>
      </div>
      {% endfor %}


   </div>
</section>