description = "Документация"
==
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ this.page.title }} - Документация</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<style>
html {
    height: 100%;
}
.content-wrap {
    min-height: calc(100vh - 168px);
}
.y-video {
    width: 100%;
    height: 40vw;
}
.footer {
    border-top: 1px dashed #ccc;
}
</style>
<body>
    
    <div class="container content-wrap">
        <section class="section">
          <h1 class="title">{{ this.page.title }}</h1>
          {% page %}
        </section>
    </div>
    
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Документация</strong> от <a href="https://october-studio.ru">october-studio.ru</a>
        </p>
      </div>
    </footer>
   
</body>
</html>