:root {
	--m-color-r: #cb2022;
	--m-color: #1e88e5;
	--m-color-light: #80bff3;
	--m-color-light2: #9dd2fe;
	--m-color-light3: #e4f2fd;
	--m-color-dark: #65abe4;
	--m-color-rh: #e12c2e;
	--m-color-bh: #a9d6fb;
	--font-sb: OpenSansSemiBold, sans-serif;
	--font-b: OpenSansBold, sans-serif;
	--font-r: OpenSansRegular, sans-serif;
	--font-i: OpenSansItalic, sans-serif;
	--tran-soft: all .2s ease-in-out;
	--green: #7eca1c;
	--red: #cb2022;
	--l-blue: #65abe4;
}