<section class="banner {{class}} ">

   <div class="banner__wrapper"
      style="background-image: url({{'assets/images/components/banner/main-banner-ship.jpg'|theme}});">
      <div class="banner__blackout"></div>
   </div>
   <div class="banner__content d-flex">
      <div class="container d-flex flex-column align-items-start justify-content-center">
         <div class="banner__title w-100">
            <h1 class="fs-h3 fs-lg-h1  fs-xl-h0 c-primary-100">Основной заголовок Основной заголовок Основной заголовок
            </h1>
         </div>
         <div class="banner__description">
            <div class="fs-def fs-sm-h3 banner__text mb-5">
               Подзаголовок, Подзаголовок, Подзаголовок, Подзаголовок, Подзаголовок, Подзаголовок, Подзаголовок,
               Подзаголовок,
               Подзаголовок, Подзаголовок
            </div>
            <div class="banner__lists d-flex row fs-s fs-lg-h3">
               <div class="banner__list-item col-12 col-sm-6 col-lg-4 mb-3 mb-sm-4 mb-lg-0">
                  <p>1 Преимущество</p>
                  <p>Преимущество</p>
                  <p>Преимущество</p>
               </div>
               <div class="banner__list-item col-12 col-sm-6 col-lg-4 mb-3 mb-sm-4 mb-lg-0">
                  <p>2 Преимущество</p>
                  <p>Преимущество</p>
                  <p>Преимущество</p>
               </div>
               <div class="banner__list-item col-12 col-sm-6 col-lg-4 mb-3 mb-sm-4 mb-lg-0">
                  <p>3 Преимущество</p>
                  <p>Преимущество</p>
                  <p>Преимущество</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>