description = "Блок с открывающими текстами"

[viewBag]
==
{% if data %}
<div class="left-menu">
    <div class="left-menu__chapter c-primary-200 mb-2 me-0 me-lg-4 mb-sm-3">
        <div class="left-menu__chapter__title p-3  fs-s fw-bolder text-white bg-blue-100">
            <span>{{ sTitle }}</span>
            <i class="bi bi-chevron-up"></i>
        </div>
        <div class="left-menu__chapter__items page-groups">
            {% for item in data %}
            <div class="page-groups__block">
                <div class="page-groups__block__title">{{ item.name }}</div>
                <div class="page-groups__block__links">
                    {% for page in item.pages %}
                    <a href="{{ page.slug }}">
                        {{ page.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
