<section class="social {{class}} d-flex">
    <a href="#" class="social__link d-flex rounded bg-social-vk" target="_blank" title="Вконтакте">
        <span class="social__img social__img-vk  rounded"></span>
    </a>
    <a href="#" class="social__link rounded  d-flex bg-social-fb" target="_blank" title="Фейсбук">
        <span class="social__img social__img-fb"></span>
    </a>
    <a href="#" class="social__link rounded  d-flex bg-social-ok" target="_blank" title="Одноклассники">
        <span class="social__img social__img-ok"></span>
    </a>
    <a href="#" class="social__link rounded  d-flex bg-social-mm" target="_blank" title="Мой мир">
        <span class="social__img social__img-mm"></span>
    </a>
    <a href="#" class="social__link rounded  d-flex bg-social-twitter" target="_blank" title="Твиттер">
        <span class="social__img social__img-twitter"></span>
    </a>
</section>