description = "Поделиться: ВК и ОК (канонический URL страницы)"
[viewBag]
==
<?php
function onStart()
{
    $url = request()->url();
    $this['share_vk_href'] = 'https://vk.com/share.php?url=' . rawurlencode($url);
    $this['share_ok_href'] = 'https://connect.ok.ru/offer?url=' . rawurlencode($url);
}
?>
==
<section class="social {{ class|default('') }} d-flex flex-wrap align-items-center">
	<a href="{{ share_vk_href }}" class="social__link d-flex rounded bg-social-vk" target="_blank" rel="noopener noreferrer" title="Поделиться в ВКонтакте">
		<span class="social__img social__img-vk rounded"></span>
	</a>
	<a href="{{ share_ok_href }}" class="social__link rounded d-flex bg-social-ok" target="_blank" rel="noopener noreferrer" title="Поделиться в Одноклассниках">
		<span class="social__img social__img-ok"></span>
	</a>
</section>
