[viewBag]
==
<section class="header-bot">
    <div class="container">
        <div class="header-bot__wrapper row py-3">
            <div class="header-bot__logo col-12 col-sm-6 col-md-12 col-xl-3 mb-3 mb-xl-0">
                <a href="/" class="d-block mb-2">
                    <img src="{{ 'assets/images/logo.png'|theme }}" alt="azimut">
                </a>
                <div class="header-bot__logo-descr fs-ss c-gray-200 ">
                    Номер в реестре Ростуризма РТО 021653
                </div>
            </div>

            <div class="header-bot__phones col-12 col-sm-6 col-md-8 col-xl-6 col-xxl-5 px-5 px-md-4 px-xxl-0 mb-3 mb-md-0">
                <div class="header-bot__phone col-6">
                    <span class="fw-bolder me-2" style="margin-bottom: 2px;display:none">Круизный отдел</span>
                    <a href="tel:88452990819" class="text-decoration-none c-primary-200" style="margin-bottom: 5px">
                        8 (8452) 99 08 19
                    </a>
                    <a href="tel:88001004959" class="text-decoration-none c-primary-200 ">
                        8 (800) 100 49 59
                    </a>
                    <span class="me-2" style="font-size: 14px;color:#666">Звонок бесплатно</span>
                </div>
            </div>


            <div class="header-bot__cruize-phone col-3 col-xxl-2">
                {% if is_rivercrs %}

                {% else %}
                <div>
                    <a style="display:none" href="tel:88452990819" class="text-decoration-none c-primary-200 fs-h3 fs-lg-h2 fw-bolder">
                        8 (8452) 99 08 19
                    </a>
                </div>
                {% endif %}
                <div class="d-xxl-none d-block mt-2">
                    <div class="header-bot__main-phone_btn call-back-button">
                        <div style="display: none">
                            <i class="bi bi-phone"></i>
                            <button class="mbtn fs-h2">Заказать звонок</button>
                        </div>
                        {#
                        <div class="whats-app-btn kruiz_injector3 only-river-crs" onclick="window.open('https://wa.me/79271149850?text=Меня интересуют речные круизы')">
                            #}
                        </div>
                    </div>
                </div>
            </div>


            <div class="header-bot__main-phone col-12 col-sm-6 d-xxl-flex d-none col-md-2">
                <div class="header-bot__main-phone_btn call-back-button">
                    <div style="display: none">
                        <i class="bi bi-phone"></i>
                        <button class="mbtn fs-h2">Заказать звонок</button>
                    </div>
                    {#
                    <div class="whats-app-btn kruiz_injector3 only-river-crs" onclick="window.open('https://wa.me/79271149850?text=Меня интересуют речные круизы')">
                        #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
