title = "Карточка санатория"
url = "/kartochka-sanatoriya"
layout = "general"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[Block]
==
<section class="s-card">

	<div class="h h_size-m h_txt-bold h_txt-upper mb-30 t-c">
		<span>Санаторий жемчужина</span>
	</div>

	<div class="cruiseData">
		<div class="c-r">
			<div class="col-25 col-s-100 as-s">
				{% partial 'sans/leftmenu' %}
			</div>

			<div class="col-75 col-s-100 as-s">
				<div class="rightBlock">
					
					<div class="s-card__attributes mt-s-10">
						<div class="r">
							<div class="col-25 col-xs-40">
								<div class="s-sel__card-property-wrap">
									Уровень: 
									<span class="s-sel__card-property s-sel__card-property_bold">эконом</span>
								</div>
							</div>
							<div class="col-50 col-xs-60">
								<div class="s-sel__card-rating">
									<b>Оценка:</b>
									<span class="s-sel__card-rate">4.5 из 5</span>
									<a href="#sw--reviews" class="s-sel__card-reviews s-sel__card-reviews--button">123 отзыва</a>
								</div>
							</div>
							<div class="col-25 hidden-xs-d">
								<div class="s-card__print s-card__print_icon">
									<span>Версия для печати</span>
								</div>
							</div>
						</div>
					</div>
		{% component 'Block' %}			
					<div class="s-card__images-wrap">
						<div class="c-r cp-0">
							<div class="col-60 col-xxs-100">
								<div class="s-card__big-images owl-carousel">
									<a class="gal" data-lightbox-gallery="s-card__big-images" href="/storage/app/media/290339.jpg">
										<div data-hash="s-card1" class="s-card__big-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
									</a>
									<a class="gal" data-lightbox-gallery="s-card__big-images" href="/storage/app/media/290339.jpg">
										<div data-hash="s-card2" class="s-card__big-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
									</a>
									<a class="gal" data-lightbox-gallery="s-card__big-images" href="/storage/app/media/290339.jpg">
										<div data-hash="s-card3" class="s-card__big-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
									</a>
								</div>
							</div>
							<div class="col-40 col-xxs-100 mt-xxs-15">
								<div class="s-card__small-images pl-15 pl-xxs-0">
									<div class="c-r cp-0">
										<div class="col-33 col-xxs-20">
											<a href="#s-card1">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="#s-card2">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="#s-card3">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
										<div class="col-33 col-xxs-20">
											<a href="">
												<div class="s-card__small-image" style="background-image: url(/storage/app/media/290339.jpg);"></div>
											</a>
										</div>
									</div>
									<div class="s-card__small-images_add">
										<button class="btn ibtn">
											<span class="less">- скрыть</span>
											<span class="more">+ еще фото</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="s-card__line s-card__help-wrap t-r">
						<a href="" class="btn btn_size-l btn_bg-red btn_txt-white btn_txt-bold">
							Подобрать путевку
						</a>
					</div>
					
					<div class="s-card__switcher">
						<div class="s-card__switch s-card__switch-el active sw--prices">
							<span>Официальные цены 2017</span>
						</div>
						<div class="s-card__switch s-card__switch-el sw--desc">
							<span>Описание</span>
						</div>
						<div class="s-card__switch s-card__switch-el sw--apartaments">
							<span>Номерной фонд</span>
						</div>
						<div class="s-card__switch s-card__switch-el sw--healing">
							<span>Лечение</span>
						</div>
						<div class="s-card__switch s-card__switch-el sw--reviews">
							<span>Отзывы</span>
						</div>
					</div>
					
					<div class="s-card__switcher-content-wrap">
						<div class="s-card__switcher-content s-card__switch-el active sw--prices">
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
								Официальные цены 2018
								</div>
								
								{#<div class="s-card__data data">
									<p>
										«Роскошный, величественный» — к санаторию «Сочи» можно подобрать только восторженные эпитеты. Этот санаторий строили по личному указанию Сталина, и сделать его плохим просто не имели права. Это не просто здравница, а невесть откуда взявшийся роскошный дворец, не уступающий дворцам античных правителей.
									</p>
								</div>#}
							</div>
							
							<div class="s-sel s-card__sel">
						
								<div class="s-sel__line">
									<div class="s-sel__line-head">
								        <span>Подбор свободных мест</span>
								    </div>
								    
								    <div class="r cp-xs-10">
								    	
								    	<div class="col-25 col-xs-50 as-e">
								    		<div class="s-sel__item">
								    			<label class="s-sel__label">
								    				Дата заезда
								    			</label>
								    			<div class="dateSelect tsSmall tsDate">
										            <input class="s-sel__input s-sel__input_date" type="text" name="date-1"></input>
										        </div>
								    		</div>
								    	</div>
								    	
								    	<div class="col-25 col-xs-50 as-e jc-xs-e">
								    		<div class="s-sel__item">
								    			<label class="s-sel__label">Дней отдыха</label>
									    		<input class="s-sel__input s-sel__input_number" v-model="days_from">
									    		<span style="color: #fff;">—</span>
									    		<input class="s-sel__input s-sel__input_number" v-model="days_to">
								    		</div>
								    	</div>
								    	<div class="col-50 col-xs-30 col-xxs-50 as-e">
								    		<div class="s-sel__item">
								    			<label class="s-sel__label">Возможное смещение даты заезда (дней)</label>
			        							<input class="s-sel__input s-sel__input_number" v-model="date_delta_days">
								    		</div>
								    	</div>
								    	
								    	<div class="col-20 col-xs-30 col-xxs-50 as-e">
								    		<div class="s-sel__item">
								    			<label class="s-sel__label">Взрослых</label>
			        							<input class="s-sel__input s-sel__input_number" v-model="parents_count">
							    			</div>
								    	</div>
								    	
								    	<div class="col-10 col-xs-20 col-xxs-50 as-e">
								    		<div class="s-sel__item">
								    			<label class="s-sel__label">Детей</label>
			        							<select class="s-sel__select s-sel__select_childrens" v-model="childrens_count">
			        								<option>1</option>
			        								<option>2</option>
			        								<option>3</option>
			        								<option>4</option>
			        								<option>5</option>
		        								</select>
							    			</div>
								    	</div>
								    	
								    	<div class="col-40 col-xs-20 col-xxs-50 as-e">
								    		<div class="s-sel__item s-sel__item_children-age">
									    		<label class="s-sel__label s-sel__label_children-age">Возраст детей</label>
				        						<input class="s-sel__input s-sel__input_children-age" :value="item.value" class="children-age" v-for="item in childrens_ages">
			        						</div>
								    	</div>
								    	
								    	<div class="col-30 col-xs-100 mt-xs-10 as-e">
								    		<div class="s-sel__button s-sel__button-send t-xs-c">
								    			<button @click="sendData" class="btn tbtn btn_bg-red"><span>Подобрать</span></button>
								    		</div>
								    	</div>
								    	
								    </div>
								    
								</div>
							</div>
							
							<div class="s-card__booking-wrap">
								<div class="s-card__booking-wrap-name mbtn" href="#modalApartaments--sans">
									Стандартный двухместный номер  с 2 отдельными кроватями 1.2 корпус 5-7 этажи
								</div>
								<div class="s-card__booking-technicals">
									<div class="data">
										<table>
											<tbody>
												<tr>
													<td>Корпус: главный</td>
													<td>Площадь номера: 35м</td>
												</tr>
												<tr>
													<td>Тип номера: Стандарт</td>
													<td>Количетсво основных мест: 3</td>
												</tr>
												<tr>
													<td>Количество комнат: 2</td>
													<td>Количетсво дополнительных мест: 1</td>
												</tr>
											</tbody>
										</table>
										<p>
											В стоимость входит: проживание, трехразоваоне питание, санаторно-курортное лечение
										</p>
									</div>
								</div>
								
								<div class="s-card__booking">
									<div class="s-card__booking-head">
										Цена указана за номер
									</div>
									<div class="s-card__booking-line">
										<div class="r">
											<div class="col-45 col-xs-50 as-c">
												<div class="s-card__booking-col t-l">
													30 мая (ср) — 6 июня (чт), 7 ночей		 
												</div>
											</div>
											<div class="col-25 col-xs-50 as-c">
												<div class="s-card__booking-col t-c t-xs-r">
													55 450 р
												</div>
											</div>
											<div class="col-30 col-xs-100 mt-xs-10 as-c">
												<div class="s-card__booking-col t-r t-xs-c">
													<button href="#modalBooking--sans" class="btn btn_bg-transparent btn_bg-hover-red btn_txt-red btn_txt-bold btn_bdr-red mbtn">
														Забронировать
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="s-card__booking-line">
										<div class="r">
											<div class="col-45 col-xs-50 as-c">
												<div class="s-card__booking-col t-l">
													30 мая (ср) — 6 июня (чт), 7 ночей		 
												</div>
											</div>
											<div class="col-25 col-xs-50 as-c">
												<div class="s-card__booking-col t-c t-xs-r">
													55 450 р
												</div>
											</div>
											<div class="col-30 col-xs-100 mt-xs-10 as-c">
												<div class="s-card__booking-col t-r t-xs-c">
													<button href="#modalBooking--sans" class="btn btn_bg-transparent btn_bg-hover-red btn_txt-red btn_txt-bold btn_bdr-red mbtn">
														Забронировать
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="s-card__booking-line">
										<div class="r">
											<div class="col-45 col-xs-50 as-c">
												<div class="s-card__booking-col t-l">
													30 мая (ср) — 6 июня (чт), 7 ночей		 
												</div>
											</div>
											<div class="col-25 col-xs-50 as-c">
												<div class="s-card__booking-col t-c t-xs-r">
													55 450 р
												</div>
											</div>
											<div class="col-30 col-xs-100 mt-xs-10 as-c">
												<div class="s-card__booking-col t-r t-xs-c">
													<button href="#modalBooking--sans" class="btn btn_bg-transparent btn_bg-hover-red btn_txt-red btn_txt-bold btn_bdr-red mbtn">
														Забронировать
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="s-card__excerpt s-card__excerpt_attention mt-40 mt-xs-20">
									Напоминаем, что мы работаем исключительно по ценам самих санаториев и не делаем наценку
								</div>
							</div>
							
						</div>
						
						<div class="s-card__switcher-content s-card__switch-el sw--desc">
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Санаторий Жемчужина сочи
								</div>
								
								<div class="s-card__data data">
									<p>
										«Роскошный, величественный» — к санаторию «Сочи» можно подобрать только восторженные эпитеты. Этот санаторий строили по личному указанию Сталина, и сделать его плохим просто не имели права. Это не просто здравница, а невесть откуда взявшийся роскошный дворец, не уступающий дворцам античных правителей.
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Преимущества
								</div>
								
								<div class="s-card__data data">
									<ul>
										<li>Лечебно-диагностический комплекс</li>
										<li>Принимаем детей с 3 лет</li>
										<li>Близость  к морю</li>
										<li>Лечебно-диагностический комплекс</li>
										<li>Принимаем детей с 3 лет</li>
										<li>Близость  к морю</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line s-card__switcher-line_description">
								<div class="s-card__heading">
									Описание комплекса 
								</div>
								
								<div class="s-card__data data s-card__data_description">
									<p>
										ФГБУ «Объединенный санаторий Сочи» предлагает широкий спектр диагностических медицинских услуг. Прием ведут квалифицированные специалисты по всем разделам медицины. Возможно проведение полного обследования пациента в кратчайшие сроки при максимальном комфорте - «Программа «Чек-Ап» (Check-Up).
									</p>
									<p>
										 Лечебно-диагностический комплекс санатория предлагает широкий спектр медицинских услуг. Квалифицированные специалисты проведут лечение сердечно-сосудистой и нервной системы, опорно-двигательного аппарата, дерматологических, аллергических, гинекологических, урологических и прочих заболеваний.
									</p>
								</div>
							
								<button class="btn ibtn more-button">
									<span class="less">Свернуть описание</span>
									<span class="more">Развернуть полное описание</span>
								</button>
							
							</div>
							
							<div class="s-card__switcher-line s-card__switcher-line_properties">
								<div class="s-card__data data s-card__data_properties">
									<ul class="properties-list">
										<li>
											Количество мест: <strong>1 200</strong>
										</li>
										<li>
											Год постройки: <strong>1 965</strong>
										</li>
										<li>
											Площадь территории: <strong>1250 м<sup>2</sup></strong>
										</li>
										<li>
											До моря: <strong>500 м</strong>
										</li>
											<li>
											Количество мест: <strong>1 200</strong>
										</li>
										<li>
											Год постройки: <strong>1 965</strong>
										</li>
										<li>
											Площадь территории: <strong>1250 м<sup>2</sup></strong>
										</li>
										<li>
											До моря: <strong>500 м</strong>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Питание
								</div>
								<div class="s-card__data data">
									<p>
										Трехразоваое
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Инфраструктура
								</div>
								<div class="s-card__data data">
									<ul>
										<li>Бассейн</li>
										<li>Бассейн</li>
										<li>Библиотека</li>
										<li>Библиотека</li>
										<li>Парковка</li>
										<li>Парковка</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Услуги
								</div>
								<div class="s-card__data data">
									<ul>
										<li>Бассейн</li>
										<li>Бассейн</li>
										<li>Бассейн</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Развлечение
								</div>
								<div class="s-card__data data">
									<ul>
										<li>Бассейн</li>
										<li>Библиотека</li>
										<li>Бассейн</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Для детей
								</div>
								<div class="s-card__data data">
									<ul>
										<li>Бассейн</li>
										<li>Библиотека</li>
										<li>Парковка</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									В стоимость тура входит
								</div>
								<div class="s-card__data data">
									<p>
										Проживание, питание, лечение, пользование пляжем
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Отдельно оплачиваются
								</div>
								<div class="s-card__data data">
									<p>
										Трансфер, экскурсионные программы
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Отдельно оплачиваются
								</div>
								<div class="s-card__data data">
									<p>
										Трансфер, экскурсионные программы
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Заезд и выезд
								</div>
								<div class="s-card__data data">
									<ul class="properties-list">
										<li>
											Заезд/выезд: <strong>-</strong>
										</li>
										<li>
											Расчетный час: <strong>12:00</strong>
										</li>
										<li>
											Первая/последняя услуга: <strong>завтрак/ужин</strong>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Необходимые для заезда документы 
								</div>
								<div class="s-card__data data">
									<ul>
										<li>
											Паспорт гражданина РФ
										</li>
										<li>
											Санаторно-курортная книжка
										</li>
										<li>
											Справка от терапевта
										</li>
									</ul>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Адрес
								</div>
								<div class="s-card__data data">
									<p>
										Российская Федерация, г. Сочи, ул. Виноградная, 27
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									Как добраться
								</div>
								<div class="s-card__data data">
									<p>
										Добраться до санатория  можно маршрутным такси от аэропорта Адлер до ж/д вокзала Сочи, далее совершить пересадку на маршрутное такси № 4, 7 ( по ул. Виноградная). Также можно доехать до ж/д вокзала Сочи электропоездом «Ласточка» и далее пересесть на маршрутное такси № 4, 7 до санатория «Сочи».
									</p>
								</div>
							</div>
							
							<div class="s-card__switcher-line">
								<div class="s-card__heading">
									На карте
								</div>
								<div class="s-card__data data">
									<div class="map"></div>
									{#СКРИПТ КАРТЫ#}
								</div>
							</div>
							
						</div>
						
						<div class="s-card__switcher-content s-card__switch-el sw--apartaments">
							
							<div class="s-card__switcher-line s-card__rooms">
								<div class="s-card__heading">
									Номерной фонд
								</div>
								<div class="s-card__data s-card__rooms-collection">
									<div class="s-card__room">
										<div class="s-card__room-name">
											<span>
												Стандартный двухместный номер  с 2 отдельными кроватями 1.2 корпус 5-7 этажи
											</span>
										</div>
										<div class="s-card__room-details-wrap">
											<div class="s-card__room-images">
												<div class="c-r cp-0">
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" href="/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
												</div>
												<div class="s-card__room-more">
													<button class="more-button btn ibtn">
														<span class="more">+ еще {{ массив|length - 3 }}10 фото </span>
														<span class="less">- скрыть фото</span>
													</button>
												</div>
											</div>
											<div class="s-card__room-details">
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Описание номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															Двухкомнатный номер (спальная комната + гостиная).<br> 
															Данные номера расположены с 4 по 16 этажи.
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество номеров:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество комнат в номере:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															2
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Тип номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															люкс
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Корпус:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество основных мест:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Тип дополнительного места:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															раскладной диван
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Площадь номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															23 м<sup>2</sup>
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Балкон:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															с сушилкой
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Терраса:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															есть
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Мебель:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															диван, кровати односпальные, двуспальная кровать, прикроватные тумбочки, стол, шкаф
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Оборудование:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															сплит-система, телевизор, холодильник
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Санузел:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															с душем (поддон)
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Сервис:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															смена полотонец: ежедневно, смена постельного белья: 1 раз в 3 дня, уборка номера: ежедневно
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="s-card__room">
										<div class="s-card__room-name">
											<span>
												Стандартный двухместный номер  с 2 отдельными кроватями 1.2 корпус 5-7 этажи
											</span>
										</div>
										<div class="s-card__room-details-wrap">
											<div class="s-card__room-images">
												<div class="c-r cp-0">
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
													<div class="col-33">
														<div class="s-card__room-image" style="background-image: url(/storage/app/uploads/public/113/738/03b/thumb__320_0_0_0_auto.jpg);"></div>
													</div>
												</div>
												<div class="s-card__room-more">
													<button class="more-button btn ibtn">
														<span class="more">+ еще {{ массив|length - 3 }}10 фото </span>
														<span class="less">- скрыть фото</span>
													</button>
												</div>
											</div>
											<div class="s-card__room-details">
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Описание номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															Двухкомнатный номер (спальная комната + гостиная).<br> 
															Данные номера расположены с 4 по 16 этажи.
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество номеров:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество комнат в номере:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															2
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Тип номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															люкс
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Корпус:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Количество основных мест:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															12
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Тип дополнительного места:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															раскладной диван
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Площадь номера:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															23 м<sup>2</sup>
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Балкон:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															с сушилкой
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Терраса:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															есть
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Мебель:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															диван, кровати односпальные, двуспальная кровать, прикроватные тумбочки, стол, шкаф
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Оборудование:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															сплит-система, телевизор, холодильник
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Санузел:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															с душем (поддон)
														</div>
													</div>
												</div>
												<div class="r">
													<div class="col-45 as-s">
														<div class="s-card__room-details-col t-r">
															<strong>Сервис:</strong>
														</div>
													</div>
													<div class="col-55 as-s">
														<div class="s-card__room-details-col">
															смена полотонец: ежедневно, смена постельного белья: 1 раз в 3 дня, уборка номера: ежедневно
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
						
						<div class="s-card__switcher-content s-card__switch-el sw--healing">
							<div class="s-card__switcher-line s-card__healing">
								<div class="s-card__heading">
									Лечение
								</div>
								<div class="s-card__data s-card__healing-data">
									<div class="data">
										<p >
										беспечивает широчайший спектр медицинских услуг распределяемых в соответствии с типом санаторно-курортной путевки и рекомендациями врачей. 
										</p>
									</div>

									<div class="s-card__healing-details">
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Профили лечения:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														<i>Заболевания сердечно-сосудистой системы</i>
													</p>
													<p>
														Обеспечивает широчайший спектр медицинских услуг 
														распределяемых в соответствии с типом санаторно-курортной 
														путевки и рекомендациями врачей. 

													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Диагностическая база:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Лечебная база:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Лечебная база:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Методы лечения:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Специалисты:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
										<div class="r">
											<div class="col-45 as-s">
												<div class="s-card__room-details-col t-r">
													<strong>Специальные лечебные программы:</strong>
												</div>
											</div>
											<div class="col-55 as-s">
												<div class="s-card__room-details-col">
													<p>
														Обеспечивает широчайший спектр
														медицинских услуг распределяемых в соответствии с типом 
														санаторно-курортной путевки и рекомендациями врачей. 
													</p>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
						<div class="s-card__switcher-content s-card__switch-el s-card__reviews sw--reviews">
							{#{% if reviewsSwitcher %}#}
							    <div class="revBlockButtons">
									<div class="revBlockButtonsLeft">
										<span>Если у Вас есть опыт речных путешествий, пожалуйста, </span>
										<span class="blue">поделитесь своими впечатлениями,</span><br>
										<span class="small">чтобы другим туристам было проще сделать выбор</span>
									</div>
									<div class="revBlockButtonsRight">
										<button id="revBut1" href="#beforeWriter" class="sbtn">Написать отзыв</button>
									</div>
								</div>
							{#{% else %}#}
								<div class="revBlockButtons">
									<div class="revBlockButtonsLeft">
										<span>Если у Вас есть опыт путешествия на данном теплоходе, пожалуйста, </span>
										<span class="blue">поделитесь своими впечатлениями,</span><br>
										<span class="small">чтобы другим туристам было проще сделать выбор</span>
									</div>
									<div class="revBlockButtonsRight">
										<button id="revBut1" href="#beforeWriter" class="sbtn">Написать отзыв</button>
									</div>
								</div>
							{#{% endif %}#}
							
							<div class="s-card__reviews-wrap">
								{% partial 'sans/reviews-list' %}
							</div>
							
							{#{% if reviewsSwitcher %}#}
								<div class="revBlockButtons" id="WriterDown">
									<div class="revBlockButtonsLeft">
										<span>Если у Вас есть опыт речных путешествий, пожалуйста, </span>
										<span class="blue">поделитесь своими впечатлениями,</span><br>
										<span class="small">чтобы другим туристам было проще сделать выбор</span>
									</div>
									<div class="revBlockButtonsRight">
										<button id="revBut2" href="#beforeWriter" class="sbtn">Написать отзыв</button>
									</div>
								</div>
								{#{% else %}#}
								<div class="revBlockButtons" id="WriterDown">
									<div class="revBlockButtonsLeft">
										<span>Если у Вас есть опыт путешествия на данном теплоходе, пожалуйста, </span>
										<span class="blue">поделитесь своими впечатлениями,</span><br>
										<span class="small">чтобы другим туристам было проще сделать выбор</span>
									</div>
									<div class="revBlockButtonsRight">
										<button id="revBut2" href="#beforeWriter" class="sbtn">Написать отзыв</button>
									</div>
								</div>
							{#{% endif %}#}
							
							{% partial 'sans/reviews-writer' %}
							
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	{#{% for tag in cruise.seo_articles %}
		<a class="crbtn" href="#{{ tag.seo_hash }}">{{ tag.seo_title }}</a>
    {% endfor %}#}

	<div class="cruiseArticles">

		<div class="col-100">
    		{% for article in cruise.seo_articles %}
    			<div class="crArticle" id="{{ article.seo_hash }}">
    				<div class="data">
    				    <h2>{{ article.seo_title }}</h2>
    					{{ article.seo_text|raw }}
    				</div>
    			</div>
    		{% endfor %}
		</div>

	</div>

	{#{% partial 'rivercrs/relinks' %}#}
	
	<div class="hidden">
		{% partial 'sans/modal-booking' %}
		{% partial 'sans/modal-apartament' %}
	</div>
	
</section>