description = "Подключения в шапке"

[viewBag]
==
<link rel="shortcut icon" href="/themes/azimut-tur/assets/img/favicon/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="/themes/azimut-tur/assets/css/aline.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/aline.btns.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/vars.css">
<!-- <link rel="stylesheet" href="/themes/azimut-tur/assets/css/aline.css"> -->
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/fonts.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/selectize.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/selectize.default.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/bower_components/air-datepicker/dist/css/datepicker.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/nivo-lightbox.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/nivothemes/default.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/header.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/core.blocks/h/h.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/core.blocks/price-range/price-range.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/core.blocks/switcher/switcher.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/core.blocks/stars/stars-select/stars-select.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/core.blocks/stars/stars-static/stars-static.css">

{% styles %}
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/main.css?v=2">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/cruises.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/sans.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/modalbox.css">
<link rel="stylesheet" href="/themes/azimut-tur/assets/css/media.css">

{% if this.environment != 'dev' %}
<script type="text/javascript">
  (function(c,s,t,r,e,a,m){c[e]=c[e]||function(){(c[e].q=c[e].q||[]).push(arguments)},c[e].p=r,a=s.createElement(t),m=s.getElementsByTagName(t)[0],a.async=1,a.src=r,m.parentNode.insertBefore(a,m)})(window,document,'script','https://nlb-clickstream.sberbank.ru/clickstream.bundle.js','csa');
  csa('init', {}, true, true);
</script>
{% endif %}