description = "Микроразметка schema.org"
==
<div style="display:none" itemscope itemtype="http://schema.org/Organization">
  <span itemprop="name">Турагентство "Азимут-тур"</span>
  Контакты:
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    Адрес:
    <span itemprop="streetAddress">ул. Большая Казачья, д. 108</span>
    <span itemprop="addressLocality">Саратов</span>,
  </div>
  Телефон:<span itemprop="telephone">(8452) 25-59-96</span>,
  Электронная почта: <span itemprop="email">azimut-kruiz@yandex.ru</span>
</div>
