.header-bot {
    // .header-bot__logo
    @include m("lg") {
        display: none;
    }

    &__logo {
        @include m('xl') {
            display: flex;
            justify-content: center;
        }
        @include m('md') {
            flex-direction: column;
            align-items: center;
        }
    }

    // .header-bot__logo-descr
    &__logo-descr {
        @include m('xl') {
            width: 40%;
            text-align: right;
        }
        @include m('md') {
            width: 100%;
            text-align: center;
        }
    }

    // .header-bot__time-work
    &__time-work {
    }

    // .header-bot__time-work_time
    &__time-work_time {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    // .header-bot__time-work_time-item
    &__time-work_time-item {
        display: flex;
        width: 100%;

        b {
            width: 40%;
            text-align: right;
        }

        span {
            padding-left: 5px;
            width: 60%;
            text-align: left;
        }
    }

    // .header-bot__time-work_email
    &__time-work_email {
        text-align: center;
    }

    // .header-bot__phones
    &__phones {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @include m('sm') {
            align-items: center;
        }
    }

    // .header-bot__phone
    &__phone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
            @include m('sm') {
                padding-left: 10px;
            }
        }
    }

    &__cruize-phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    // .header-bot__main-phone
    &__main-phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        @include m('sm') {
            align-items: center
        }
    }

    // .header-bot__main-phone_phone
    &__main-phone_phone {

    }

    // .header-bot__main-phone_btn
    &__main-phone_btn {
        button {
            @include clear-button();
            color: color("red-200");
            border-bottom: 1px dashed color('red-200');
        }
    }
    .call-back-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .whats-app-btn {
        background-image: url(/themes/azimut-tur-pro/assets/images/WhatsApp.svg);
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top: 4px;
        margin-bottom: -16px;
        transition:200ms;
        animation: show-btn;
        animation-duration: 400ms;
        &:hover {
            transform: scale(1.3);
        }
    }

    @keyframes show-btn {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

}

.only-river-crs {
    display: none;
}
